.vertical-align {
	display: flex;
	align-items: center;
}

.bgcolored {
	background-color: whiteSmoke;
	margin-bottom: 5px;
}

.bgcoloredHighlight {
	background-color: AliceBlue;
	margin-bottom: 5px;
}

.btn-primary-spacing {
	margin: 2px;
}

.panel-criteria {
	 margin-top:3px;
}
.panel-heading-criteria {
	 padding: 1px 15px;
}

.panel-default > .panel-heading-custom {
background: #ffffff;  }

.centerstars{
  display: flex;
  justify-content: center;
}